.Tab {
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0;
    top: 0;
    background: #383838dd;
    z-index: 14;
    .Drag {
        position: absolute;
        width: calc(100%);
        height: 100%;
        left: 0;
        top: 0;
    }
    .Logo {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 0;
        top: 0;
        left: 4px;
        cursor: pointer;
        img {
            position: absolute;
            width: 86%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            pointer-events: none;
        }
    }
    .Read {
        position: absolute;
        width: 120px;
        left: 0;
        right: 0;
        margin: auto;
        height: 30px;
        line-height: 30px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #c8e78f;
        font-size: 13px;
        letter-spacing: 1px;
        pointer-events: none;
    }
    .Title {
        position: absolute;
        white-space: nowrap;
        width: min-content;
        left: 50px;
        height: 30px;
        line-height: 30px;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .Btns {
        position: absolute;
        width: min-content;
        white-space: nowrap;
        height: 100%;
        top: 0;
        right: 2px;
        .Item {
            position: relative;
            display: inline-block;
            margin-right: 2px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            img {
                position: absolute;
                width: 60%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                pointer-events: none;
                filter: invert(1);
            }
        }
        .Select {
            position: fixed;
            width: 160px;
            right: 68px;
            top: 2px;
            box-sizing: border-box;
            border: 1px solid #141414ff;
            background: #141414ff;
            max-height: calc(100% - 4px);
            border-radius: 2px;
            line-height: 0px;
            font-size: 0px;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .Which {
                position: relative;
                display: block;
                width: calc(100%);
                margin-bottom: 1px;
                left: 0px;
                height: 24px;
                background: #444444dd;
                cursor: pointer;
                transition: all 0.15s;
                &:hover {
                    background: #666666dd;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
                .Title {
                    position: absolute;
                    width: calc(100% - 10px);
                    height: 100%;
                    top: 0;
                    left: 5px;
                    line-height: 24px;
                    text-align: center;
                    color: #ffffff;
                    font-size: 12px;
                    letter-spacing: 1px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .Icon {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    top: 0;
                    bottom: 0;
                    left: 50px;
                    margin: auto;
                    img {
                        position: absolute;
                        width: 70%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        filter: invert(1);
                    }
                }
                .Label {
                    position: absolute;
                    height: 100%;
                    top: 0;
                    left: 80px;
                    line-height: 24px;
                    text-align: center;
                    color: #ffffff;
                    font-size: 12px;
                    letter-spacing: 1px;
                }
                .Delete {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    top: 0;
                    bottom: 0;
                    right: 2px;
                    margin: auto;
                    img {
                        position: absolute;
                        width: 70%;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        filter: grayscale(1) brightness(200%);
                    }
                }
                .Edit {
                    @extend .Delete;
                    right: 28px;
                }
                .Type {
                    position: absolute;
                    height: 100%;
                    width: calc(100% - 57px);
                    top: 0;
                    left: 5px;
                    text-align: center;
                    line-height: 24px;
                    color: #ffffff;
                    font-size: 12px;
                    letter-spacing: 1px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}
