.Application {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow: hidden;
    .All {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        overflow: hidden;
        border-radius: 2px;
    }
    .Single {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        // background: #80dd8099;
        .Icon {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            cursor: pointer;
            border-radius: 50%;
            overflow: hidden;
            transform-origin: center;
            &:hover {
                animation: Jello 1s 0s linear infinite;
            }
            img {
                position: absolute;
                width: 90%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                pointer-events: none;
                animation: Flash 5s 0s linear infinite;
            }
            @keyframes Flash {
                0% {
                    filter: drop-shadow(0px 0px 4px #e22b0acc);
                }
                25% {
                    filter: drop-shadow(0px 0px 4px #07f112cc);
                }
                50% {
                    filter: drop-shadow(0px 0px 4px #048eebcc);
                }
                75% {
                    filter: drop-shadow(0px 0px 4px #e9e8e8cc);
                }
                100% {
                    filter: drop-shadow(0px 0px 4px #e22b0acc);
                }
            }
        }
        @keyframes Jello {
            from,
            11.1%,
            to {
                transform: translate3d(0, 0, 0);
            }

            22.2% {
                transform: skewX(-12.5deg) skewY(-12.5deg);
            }

            33.3% {
                transform: skewX(6.25deg) skewY(6.25deg);
            }

            44.4% {
                transform: skewX(-3.125deg) skewY(-3.125deg);
            }

            55.5% {
                transform: skewX(1.5625deg) skewY(1.5625deg);
            }

            66.6% {
                transform: skewX(-0.78125deg) skewY(-0.78125deg);
            }

            77.7% {
                transform: skewX(0.390625deg) skewY(0.390625deg);
            }

            88.8% {
                transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
            }
        }
    }
}
